<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/GestiLog</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/GestiLog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GestiLog.Models.ApplicationDbContext, GestiLog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DaoEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GestiLog.Entities.DaoEntities, GestiLog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DaoEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-J4JB9CL\HI14;Initial Catalog=GestiLog;User ID=sa;Password=@HI123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>